/* RESUMIR PALETA DE COLORES
DEJAR SOLO 5 COLORES Y LOGRAR MAS COLORES CON DARKEN O LIGHTEN */ 

$color1: #ff6767;
$color2: #F38630;
$color3: #E0E4CC;
// $color4: #c4b0a1;
$color5: #A7DBD8;
//ESCALA DE GRISES
$escalaGrises: rgb(125, 125, 125);
$hoverLink: rgb(50, 50, 50);
$headerYFooterOscuro: rgb(85, 85, 85);
$headerYFooterOscuroClaro: rgb(220, 220, 220);

//MARRONES
$colorD: rgb(117, 31, 0);
$colorF:rgb(150, 40, 0);

/* OTROS */
$colorJ: darkred;
$colorK:royalblue ;

/* TIERS */
$welcome: rgb(62, 116, 9);
$silver: rgb(136, 136, 136);
$gold: rgb(255, 217, 0) ;
